version: "3.9"
services:
  app:
    build: .
    command: bash -c "yarn install && yarn dev"
    ports:
      - "3000:3000"
    volumes:
      - .:/workspace
    depends_on:
      - db

  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: g0-yachanpu1_Okinawa
      MYSQL_USER: myuser
      MYSQL_PASSWORD: kawasak1-Otokoman
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: