<!doctype html>
<html lang="ja" data-bs-theme="auto">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Self Care Tracker - セルフケア</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <!-- Chart.jsライブラリの読み込み -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
      /* メインコンテナのスタイル */
      main {
        width: 100%;
        display: flex;
        justify-content: center;
      }
      /* グラフを表示するためのスタイル */
      #js-result {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        gap: 20px;
        justify-content: center;
      }
      /* キャンバス（グラフ）自体のスタイル */
      canvas {
        flex: 1 0 48%;
        max-width: 100%;
        height: 50vh;
        margin-bottom: 20px;
      }
    </style>

</head>

<body>
    <!-- ナビゲーションバー -->
    <header class="navbar sticky-top navbar-expand-lg bg-dark flex-md-nowrap p-0 shadow navbar-fixed-top"
        data-bs-theme="dark">

        <!-- アプリ名 -->
        <span class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white">Selfcare-Tracker</span>

        <!-- ハンバーガーメニュー -->
        <button class="navbar-toggler ms-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu"
            aria-controls="sidebarMenu" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </header>

    <!-- コンテナ -->
    <div class="container-fluid main-layout-wrapper">
        <div class="row h-100">

            <!-- サイドバー -->
            <div class="sidebar border border-right col-lg-2 p-0 bg-body-tertiary">

                <!-- PC時のサイドバーコンテナ -->
                <div class="offcanvas-lg offcanvas-end bg-body-tertiary h-100" tabindex="-1" id="sidebarMenu"
                    aria-labelledby="sidebarMenuLabel">

                    <!-- モバイル用ヘッダー -->
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="sidebarMenuLabel">メニュー</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                            data-bs-target="#sidebarMenu" aria-label="Close"></button>
                    </div>

                    <!-- サイドバー本体 -->
                    <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 h-100">

                        <!-- サイドバー上 -->
                        <h5 class="ms-3">メニュー</h5>
                        <ul class="nav flex-column mt-2">
                            <li class="nav-item">
                                <button type="button" class="nav-link d-flex align-items-center gap-2"
                                    id="dashboardPage">
                                    ダッシュボード
                                </button>
                            </li>
                            <li class="nav-item">
                                <button type="button" class="nav-link d-flex align-items-center gap-2"
                                    id="goodSignPage">
                                    良好サイン
                                </button>
                            </li>
                            <li class="nav-item">
                                <button type="button" class="nav-link d-flex align-items-center gap-2"
                                    id="warningSignPage">
                                    注意サイン
                                </button>
                            </li>
                            <li class="nav-item">
                                <button type="button" class="nav-link d-flex align-items-center gap-2"
                                    id="dangerSignPage">
                                    悪化サイン
                                </button>
                            </li>
                            <li class="nav-item">
                                <button type="button" class="nav-link d-flex align-items-center gap-2"
                                    id="lifestyleHabitsPage">
                                    生活習慣
                                </button>
                            </li>
                            <li class="nav-item">
                                <button type="button" class="nav-link d-flex align-items-center gap-2"
                                    id="todaySelfcarePage">
                                    本日のセルフケア
                                </button>
                            </li>
                        </ul>

                        <hr class="mt-4">

                        <!-- サイドバー中 -->
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center gap-2" href="/selfcare">
                                    セルフケアを行う
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center gap-2" href="/edit">
                                    項目編集
                                </a>
                            </li>
                        </ul>

                        <hr class="mt-4">

                        <!-- サイドバー下 -->
                        <ul class="nav flex-column mb-5">
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center gap-2" href="/account_setting">
                                    アカウント設定
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center gap-2" href="#">
                                    ログアウト
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- メインコンテンツ -->
            <main class="col-lg-10 px-md-4 overflow-y-auto h-100">

                <div class="container mt-4" id="main-header-area">

                    <!-- 動的にコンテンツが挿入される場所 -->

                    <div class="row align-items-center border-bottom pb-2 mb-3">

                        <!-- ヘッダータイトル -->
                        <div class="col-12 col-lg-3 tab-content">

                            <!-- 折れ線グラフ -->
                            <div class="tab-pane fade show active" id="five-step-title" role="tabpanel">
                                <h2 class="fw-bold text-md-start text-center mb-2 mb-md-0">折れ線グラフ</h2>
                            </div>

                            <!-- 表 -->
                            <div class="tab-pane fade" id="three-step-title" role="tabpanel">
                                <h2 class="fw-bold text-md-start text-center mb-2 mb-md-0">表</h2>
                            </div>

                            <!-- 棒グラフ-->
                            <div class="tab-pane fade" id="numeric-title" role="tabpanel">
                                <h2 class="fw-bold text-md-start text-center mb-2 mb-md-0">棒グラフ</h2>
                            </div>
                        </div>

                        <!-- ヘッダーボタン -->
                        <div class="col-12 col-lg-7 d-flex justify-content-center justify-content-md-end my-2 my-md-0">
                            <ul class="nav nav-pills" id="evaluationTabs" role="tablist">
                                <li class="nav-item flex-grow-0" role="presentation">
                                    <button class="nav-link active" id="five-step-title" data-bs-toggle="pill"
                                        data-bs-target="#five-step-title" type="button" role="tab"
                                        aria-controls="five-step-title" aria-selected="true"
                                        data-graph-title="折れ線グラフ">
                                        5段階評価
                                    </button>
                                </li>

                                <li class="nav-item flex-grow-0" role="presentation">
                                    <button class="nav-link" id="three-step-title" data-bs-toggle="pill"
                                        data-bs-target="#three-step-title" type="button" role="tab"
                                        aria-controls="three-step-title" aria-selected="false" data-graph-title="表">
                                        3段階評価
                                    </button>
                                </li>

                                <li class="nav-item flex-grow-0" role="presentation">
                                    <button class="nav-link" id="numeric-title" data-bs-toggle="pill"
                                        data-bs-target="#numeric-title" type="button" role="tab"
                                        aria-controls="numeric-title" aria-selected="false" data-graph-title="棒グラフ">
                                        数値評価
                                    </button>
                                </li>
                            </ul>
                        </div>

                        <div class="col-12 col-lg-2 d-flex justify-content-end">
                            <div class="btn-group" role="group" aria-label="期間の切り替え">

                                <input type="radio" class="btn-check" name="period-options" id="period-week-radio"
                                    autocomplete="off" checked>
                                <label class="btn btn-outline-secondary" for="period-week-radio">
                                    1週間
                                </label>

                                <input type="radio" class="btn-check" name="period-options" id="period-month-radio"
                                    autocomplete="off">
                                <label class="btn btn-outline-secondary" for="period-month-radio">
                                    1ヶ月間
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- グラフ・表の挿入 -->
                    <div class="col-10" id="js-result">
                    </div>
                </div>

            </main>
        </div>
    </div>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/dashboard.js"></script>

    <!-- chart.js script -->
    <script>
      // グラフを描画するためのキャンバス要素を生成する関数
      const result = document.getElementById("js-result");
      const createCanvas = () => {
        const canvas = document.createElement("canvas");
        canvas.width = 400;
        canvas.height = 200;
        result.appendChild(canvas);
        return canvas;
      };

      // ここに試したいchart機能を入れます
const lineChart = new Chart(createCanvas(), {
  type: "line",
  data: {
    labels: ["January", "February", "March", "April", "May", "June", "July"], // X軸のラベル
    datasets: [{
      label: "Sales", // データセットのラベル
      data: [12, 19, 3, 5, 2, 3, 10], // Y軸のデータ
      borderColor: "rgb(75, 192, 192)", // 線の色
      tension: 0.1, // 線のカーブの緩やかさ
    }],
  },
  options: {
    responsive: true, // 画面サイズに応じてリサイズ
    scales: {
      y: {
        beginAtZero: true, // Y軸の開始値を0に設定
      },
    },
  },
});
      
    </script>
</body>

</html>
