<!doctype html>
<html lang="ja" data-bs-theme="auto">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Self Care Tracker - セルフケア</title>

    <!-- Bootstrap CSS (CDN) -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- ナビゲーションバー -->
    <header class="navbar sticky-top navbar-expand-lg bg-dark flex-md-nowrap p-0 shadow navbar-fixed-top"
        data-bs-theme="dark">

        <!-- アプリ名 -->
        <span class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white">Selfcare-Tracker</span>

        <!-- ハンバーガーメニュー -->
        <button class="navbar-toggler ms-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu"
            aria-controls="sidebarMenu" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </header>

    <nav class="navbar fixed-bottom bg-body-tertiary justify-content-center d-lg-none">
        <!-- 送信ボタン -->
        <button class="btn btn-primary btn-lg fw-bold d-lg-none mx-auto w-50" type="button" data-bs-toggle="modal"
            data-bs-target="#newCreationModal">送信</button>
    </nav>

    <!-- コンテナ -->
    <div class="container-fluid main-layout-wrapper">
        <div class="row h-100">

            <!-- サイドバー -->
            <div class="sidebar border border-right col-lg-2 p-0 bg-body-tertiary">

                <!-- PC時のサイドバーコンテナ -->
                <div class="offcanvas-lg offcanvas-end bg-body-tertiary h-100" tabindex="-1" id="sidebarMenu"
                    aria-labelledby="sidebarMenuLabel">

                    <!-- モバイル用ヘッダー -->
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="sidebarMenuLabel">メニュー</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                            data-bs-target="#sidebarMenu" aria-label="Close"></button>
                    </div>

                    <!-- サイドバー本体 -->
                    <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 h-100">
                        <!-- サイドバー上 -->
                        <h5 class="ms-3">目次</h5>
                        <ul class="nav flex-column mt-2">
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page"
                                    href="#good-sign">
                                    良好サイン
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center gap-2" href="#warning-sign">
                                    注意サイン
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center gap-2" href="#danger-sign">
                                    悪化サイン
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center gap-2" href="#lifestyle">
                                    生活習慣
                                </a>
                            </li>
                        </ul>

                        <hr class="mt-4">

                        <!-- サイドバー中 -->
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center gap-2" href="/edit">
                                    項目編集
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center gap-2" href="/">
                                    ダッシュボード
                                </a>
                            </li>
                        </ul>

                        <hr class="mt-4">

                        <!-- サイドバー下 -->
                        <ul class="nav flex-column mb-5">
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center gap-2" href="/account_setting">
                                    アカウント設定
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center gap-2" href="#">
                                    ログアウト
                                </a>
                            </li>
                        </ul>
                        <!-- 送信ボタン -->
                        <div class="d-grid p-3 mt-3">
                            <button class="btn btn-primary btn-lg fw-bold d-none d-lg-block" type="button"
                                data-bs-toggle="modal" data-bs-target="#newCreationModal" id="openModalBtn">送信</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- メインコンテンツ -->
            <main class="col-lg-10 px-md-4 overflow-y-auto h-100">

                <!-- 良好サイン -->
                <section id="good-sign" class="mb-5 pb-4 border-bottom">
                    <div class="card card-body bg-light text-center py-4 mb-4">
                        <h2 class="h1 fw-bold mb-0">良好サイン</h2>
                    </div>
                    <p>（良好サインの入力項目が動的に挿入されます）</p>

                    <!-- 評価カードのサンプル -->

                    <!-- 5段階評価 -->
                    <div class="col-lg-8 offset-lg-2 mb-4">
                        <div class="card shadow-sm selfcare-card">

                            <div class="card-header bg-white border-bottom pt-3 pb-2">
                                <p class="h5 mb-0 fw-bold">care-title</p>
                            </div>

                            <div class="card-body mx-5">
                                <div class="row text-center mb-3">

                                    <div class="col">
                                        <small class="text-nowrap"><label class="form-check-label"
                                                for="rating_1">1</label>：よくない</small>
                                    </div>
                                    <div class="col">
                                        <small class="text-nowrap"><label class="form-check-label"
                                                for="rating_2">2</label>：あまりよくない</small>
                                    </div>
                                    <div class="col">
                                        <small class="text-nowrap"><label class="form-check-label"
                                                for="rating_3">3</label>：普通</small>
                                    </div>
                                    <div class="col">
                                        <small class="text-nowrap"><label class="form-check-label"
                                                for="rating_4">4</label>：まあまあいい</small>
                                    </div>
                                    <div class="col">
                                        <small class="text-nowrap"><label class="form-check-label"
                                                for="rating_5">5</label>：とても良い</small>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="form-check justify-content-center d-flex">
                                            <input class="form-check-input" type="radio" name="care_rating"
                                                id="rating_1" value="1">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-check justify-content-center d-flex">
                                            <input class="form-check-input" type="radio" name="care_rating"
                                                id="rating_2" value="2">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-check justify-content-center d-flex">
                                            <input class="form-check-input" type="radio" name="care_rating"
                                                id="rating_3" value="3">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-check justify-content-center d-flex">
                                            <input class="form-check-input" type="radio" name="care_rating"
                                                id="rating_4" value="4">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-check justify-content-center d-flex">
                                            <input class="form-check-input" type="radio" name="care_rating"
                                                id="rating_5" value="5">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- 3段階評価 -->
                    <div class="col-lg-8 offset-lg-2 mb-4">
                        <div class="card shadow-sm selfcare-card">

                            <div class="card-header bg-white border-bottom pt-3 pb-2">
                                <p class="h5 mb-0 fw-bold">care-title</p>
                            </div>

                            <div class="card-body">
                                <div class="row text-center mb-3">

                                    <div class="col">
                                        <small class="text-nowrap"><label class="form-check-label"
                                                for="rating_good">〇</label>：できた</small>
                                    </div>
                                    <div class="col">
                                        <small class="text-nowrap"><label class="form-check-label"
                                                for="rating_okay">△</label>：少しできた</small>
                                    </div>
                                    <div class="col">
                                        <small class="text-nowrap"><label class="form-check-label"
                                                for="rating_bad">✕</label>：できなかった</small>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="form-check justify-content-center d-flex">
                                            <input class="form-check-input" type="radio" name="care_rating"
                                                id="rating_good" value="1">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-check justify-content-center d-flex">
                                            <input class="form-check-input" type="radio" name="care_rating"
                                                id="rating_okay" value="2">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-check justify-content-center d-flex">
                                            <input class="form-check-input" type="radio" name="care_rating"
                                                id="rating_bad" value="3">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 数値評価 -->
                    <div class="col-lg-8 offset-lg-2 mb-4">
                        <div class="card shadow-sm selfcare-card">

                            <div class="card-header bg-white border-bottom pt-3 pb-2">
                                <p class="h5 mb-0 fw-bold">care-title</p>
                            </div>
                            <div class="card-body">
                                <div class="row mt-4">
                                    <div class="col-5 offset-1">
                                        <input type="number" class="form-control" id="numericalInput"
                                            placeholder="0～10000の数値を入力" min="0" max="10000">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 時間 -->
                    <div class="col-lg-8 offset-lg-2 mb-4">
                        <div class="card shadow-sm selfcare-card">

                            <div class="card-header bg-white border-bottom pt-3 pb-2">
                                <p class="h5 mb-0 fw-bold">care-title</p>
                            </div>
                            <div class="card-body">
                                <div class="row mt-4">
                                    <div class="col-md-2 col-5 offset-md-1">
                                        <select class="form-select" aria-label="Default select example">
                                            <option value="0h">0</option>
                                            <option value="1h">1</option>
                                            <option value="2h">2</option>
                                            <option value="3h">3</option>
                                            <option value="4h">4</option>
                                            <option value="5h">5</option>
                                            <option value="6h">6</option>
                                            <option value="7h">7</option>
                                            <option value="8h">8</option>
                                            <option value="9h">9</option>
                                            <option value="10h">10</option>
                                            <option value="11h">11</option>
                                            <option value="12h">12</option>
                                            <option value="13h">13</option>
                                            <option value="14h">14</option>
                                            <option value="15h">15</option>
                                            <option value="16h">16</option>
                                            <option value="17h">17</option>
                                            <option value="18h">18</option>
                                            <option value="19h">19</option>
                                            <option value="20h">20</option>
                                            <option value="21h">21</option>
                                            <option value="22h">22</option>
                                            <option value="23h">23</option>
                                        </select>
                                    </div>
                                    <div class="col-1 d-flex align-items-center">
                                        <p class="mb-0">時</p>
                                    </div>
                                    <div class="col-md-2 col-5">
                                        <select class="form-select" aria-label="Default select example">
                                            <option value="00m">00</option>
                                            <option value="10m">10</option>
                                            <option value="20m">20</option>
                                            <option value="30m">30</option>
                                            <option value="40m">40</option>
                                            <option value="50m">50</option>
                                        </select>
                                    </div>
                                    <div class="col-1 d-flex align-items-center">
                                        <p class="mb-0">分</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- 注意サイン -->
                <section id="warning-sign" class="mb-5 pb-4 border-bottom">
                    <div class="card card-body bg-light text-center py-4 mb-4">
                        <h2 class="h1 fw-bold mb-0">注意サイン</h2>
                    </div>
                    <p>（注意サインの入力項目が動的に挿入されます）</p>
                    <div></div>
                </section>

                <!-- 悪化サイン -->
                <section id="danger-sign" class="mb-5 pb-4 border-bottom">
                    <div class="card card-body bg-light text-center py-4 mb-4">
                        <h2 class="h1 fw-bold mb-0">悪化サイン</h2>
                    </div>
                    <p>（悪化サインの入力項目が動的に挿入されます）</p>
                    <div></div>
                </section>

                <!-- 生活習慣 -->
                <section id="lifestyle" class="mb-5 pb-4 border-bottom">
                    <div class="card card-body bg-light text-center py-4 mb-4">
                        <h2 class="h1 fw-bold mb-0">生活習慣チェック</h2>
                    </div>
                    <p>（生活習慣の入力項目が動的に挿入されます）</p>
                    <div></div>
                </section>
            </main>
        </div>
    </div>
    <!-- Bootstrap JS (CDN) -->
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
