<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <title>
        Bootstrap Code Preview
    </title>
</head>

<body>
    <div class="d-flex justify-content-center align-items-center vh-100">

        <div class="card shadow-lg p-5 login-creat-card">

            <div class="card-body p-5">

                <h1 class="card-title text-center fw-normal mb-5 pb-3 border-bottom">新規作成</h1>

                <form>
                    <div class="mb-3">
                        <label for="username" class="form-label fw-bold">ユーザー名</label>
                        <input type="text" class="form-control" id="username" placeholder="ユーザー名">
                    </div>

                    <div class="mb-4">
                        <label for="password" class="form-label fw-bold">パスワード</label>
                        <input type="password" class="form-control" id="password" placeholder="パスワード">
                    </div>

                    <button type="submit" class="btn btn-primary btn-block w-100 fw-bold py-3">
                        新規作成
                    </button>
                </form>

                <div class="text-center pt-4">
                    <div class="mb-4">
                        <hr class="w-25 d-inline-block my-1">
                        <p class="d-inline-block">すでにアカウントを持っている場合</p>
                        <hr class="w-25 d-inline-block my-1">
                    </div>
                    <a href="/login" class="btn btn-outline-primary w-100 fw-bold py-3">
                        ログイン
                    </a>
                </div>

            </div>
        </div>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>
