main {
    padding-left: 52px;
    padding-right: 52px;
}

.login-creat-card {
    max-width: 680px;
    width: 100%;
}

.selfcare-card {
    height: 183px;
}

/* ナビゲーションバーの高さ固定 */
.navbar-fixed-top {
    height: 56px;
}

/* 3. メインレイアウトコンテナの設定 */
.main-layout-wrapper {
    height: calc(100vh - 56px);
    /* 画面の高さ - ナビゲーションバーの高さ */
}
